.search-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.book-card{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 10px;
    justify-items: start;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}

.container > * {
    grid-column: 2;
}

.review-layout{
    display: grid;
    grid-template-columns: 20px 1fr 20px;
}